{% extends 'core/base.html' %}
{% load static %}

{% block styleheet %}
<link rel="stylesheet" href="{% static 'core/css/style.css' %}" type="text/css">
{% endblock styleheet %}

{% block content %}

<h1 class="text-center mb-4">Mis datos</h1>

<form method="POST" enctype="multipart/form-data" id="v_misDatos">
  {% csrf_token %}

  <div class="row">
    <div class="col-md-6">
      <div class="form-group row mb-2">
        {% for field in form %}
          <label for="{{ field.id_for_label }}" class="col-sm-4 col-form-label text-end font-weight-bold">
            {{ field.label }}
          </label>
          <div class="col-sm-8">
            {{ field }}
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="col-md-6">
      {% if form.instance.imagen %}
        <img id="registrarme-imagen" src="{{ form.instance.imagen.url }}">
      {% else %}
        <img class="fotoperfil" src="{% static 'core/images/foto perfil.png' %}">
      {% endif %}
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-md-6">
      <div class="mt-2 mb-3">
        <button type="submit" class="btn btn-primary ancho-150px fw-bolder">Guardar</button>
        <button type="reset" class="btn btn-info ancho-150px fw-bolder">Limpiar</button>
      </div>

      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
</form>
{% if messages %}
  {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
{% endif %}

{% endblock content %}
