{% extends 'core/base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}
<h1 style="font-family: 'DynaPuff', cursive; text-decoration: underline; text-align: center;">Mantenedor de Usuarios</h1>

<form method="POST" enctype="multipart/form-data" id="mantenedoru">
  {% csrf_token %}

  {% for field in form %}
    <div class="form-group row">
      <label for="{{ field.id_for_label }}" class="col-sm-2 col-form-label">{{ field.label }}</label>
      <div class="col-sm-10">
        {{ field }}
      </div>
    </div>
  {% endfor %}

  <div class="row">
    <div class="col-sm-12 col-md-6">
      {% if form.imagen.value %}
        <img id="admin-producto-imagen" src="/media/{{ form.imagen.value }}">
      {% else %}
        <img id="admin-producto-imagen" src="{% static 'core/images/fotoperfil.png' %}">
      {% endif %}
    </div>
  </div>

  <div class="mt-2 mb-3">
    <input type="submit" class="btn btn-primary ancho-150px" value="Guardar">
    <a class="btn btn-success ancho-150px" href="{% url 'usuarios' 'crear' '0' %}"> Nuevo </a>
    {% if form.instance.id %}
      <a class="btn btn-danger ancho-150px" href="{% url 'usuarios' 'eliminar' form.instance.id %}"> Eliminar </a>
    {% endif %}
  </div>
</form>


{% if messages %}
  {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
{% endif %}

{% if usuarios %}
  <table id="tabla-principal" class="table table-hover">
    <thead>
      <tr>
        <th> ID </th>
        <th> Tipo Usuario </th>
        <th> RUT </th>
        <th> Nombres </th>
        <th> Apellidos </th>
        <th> Correo </th>
        <th> Dirección</th>
        <th> Con Subscripción </th>
        <th> Imagen </th>
        <th> Acciones </th>
      </tr>
    </thead>
    <tbody>
      {% for user in usuarios %}
        <tr>
          <td> {{ user.id }} </td>
          <td> {{ user.tipo }} </td>
          <td> {{ user.rut }} </td>
          <td> {{ user.nombre }} </td>
          <td> {{ user.apellido }} </td>
          <td> {{ user.correo }} </td>
          <td> {{ user.direccion }} </td>
          <td> {{ user.subscrito }} </td>
          <td>
            {% if user.imagen %}
              <img src="/media/{{ user.imagen }}" class="producto-sm" alt="">
            {% else %}
              <img src="{% static 'core/images/fotoperfil.png' %}" class="producto-sm" alt="">
            {% endif %}
          </td>
          <td>
            <a href="{% url 'usuarios' 'actualizar' user.id %}" class="btn btn-primary btn-sm boton_chico"> Editar </a>
          </td>
          <td>
            <form method="delete">
              <a href="{% url 'usuarios' 'eliminar' user.id %}" class="btn btn-danger btn-sm boton_chico"> Eliminar </a>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}

{% endblock content %}






